***MAGPANTAY, NINO JANDEL C.***

***BSCS-3B***

***MR. BERNARDINO***

***DATA LOADING***

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('hardwareStore.csv')

print(df.head(10))

print(df.isnull().sum())

***Data Initial Analysis***

In [1]:
# Display basic statistics
statistics = df.describe()
print(statistics)

category_counts = df['CATEGORY_NAME'].value_counts()

print(category_counts)

NameError: name 'df' is not defined

***CATEGORY ANALYSIS***

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
category_counts.plot(kind='bar', color='skyblue')
plt.title('Distribution of Products Across Categories')
plt.xlabel('Category')
plt.ylabel('Number of Products')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

max_category = category_counts.idxmax()
print("Category with the highest number of products:", max_category)

***Cost and Price Analysis:***

In [ ]:
average_standard_cost = df['STANDARD_COST'].mean()
average_list_price = df['LIST_PRICE'].mean()

print("Average Standard Cost:", average_standard_cost)
print("Average List Price:", average_list_price)

max_standard_cost_index = df['STANDARD_COST'].idxmax()
product_with_highest_standard_cost = df.loc[max_standard_cost_index]

max_list_price_index = df['LIST_PRICE'].idxmax()
product_with_highest_list_price = df.loc[max_list_price_index]

print("Product with the highest standard cost:")
print(product_with_highest_standard_cost[['PRODUCT_NAME', 'STANDARD_COST']])

print("\nProduct with the highest list price:")
print(product_with_highest_list_price[['PRODUCT_NAME', 'LIST_PRICE']])

Average Standard Cost: 765.520404676259
Average List Price: 950.9933273381293
Product with the highest standard cost:
PRODUCT_NAME     Intel SSDPECME040T401
STANDARD_COST                  7123.66
Name: 982, dtype: object

Product with the highest list price:
PRODUCT_NAME    Intel SSDPECME040T401
LIST_PRICE                    8867.99
Name: 982, dtype: object

***Location Analysis:***

In [ ]:
location_stock = df.groupby(['CITY', 'STATE'])['QUANTITY'].sum()

location_highest_quantity = location_stock.idxmax()
highest_quantity = location_stock.max()

print("Location with the highest quantity of products in stock:")
print("Location:", location_highest_quantity)
print("Total Quantity:", highest_quantity)

Location with the highest quantity of products in stock:
Location: ('South San Francisco', 'California')
Total Quantity: 28613

***Insights and Reporting:***

In [ ]:
report = """
Analysis Report

1. Data Loading and Initial Analysis:
    Basic statistics of the Dataset:
    {}

2. Data Manipulation:
    Total Revenue for each product:
    {}
    Product with the highest revenue: {}
    Average quantity sold per day: {:.2f}

3. Data Visualization:
    Bar char displaying revenue for each product is attached

4. Insights:
    The product {} generates the highest revenue
    On average, {:.2f} units are sold per day.

5. Location Analysis:
    Location with the highest quantity of products in stock:
    Location: {}
    Total Quantity: {}
""".format(statistics, product_revenue, highest_revenue_product, average_quantity_per_day, highest_revenue_product, average_quantity_per_day, location_highest_quantity, highest_quantity)

# Print the report
print(report)

with open('report.txt','w') as f:
  f.write(report)

Analysis Report

1. Data Loading and Initial Analysis:
    Basic statistics of the Dataset:
           CATEGORY_ID   PRODUCT_ID  STANDARD_COST   LIST_PRICE    REGION_ID  \
count  1112.000000  1112.000000    1112.000000  1112.000000  1112.000000
mean      3.203237   139.579137     765.520405   950.993327     2.469424
std       1.637782    84.840057     794.252142   991.070482     0.499289
min       1.000000     2.000000      12.630000    15.550000     2.000000
25%       2.000000    71.750000     332.380000   435.222500     2.000000
50%       4.000000   133.000000     582.020000   744.980000     2.000000
75%       5.000000   216.000000     799.050000   999.990000     3.000000
max       5.000000   288.000000    7123.660000  8867.990000     3.000000

       LOCATION_ID  WAREHOUSE_ID     QUANTITY
count  1112.000000   1112.000000  1112.000000
mean     10.971223      5.548561   107.474820
std       4.662225      2.416821    68.008413
min       5.000000      1.000000     0.000000
25%       8.000000      4.000000    50.000000
50%      11.000000      6.000000    98.000000
75%      13.000000      8.000000   163.000000
max      23.000000      9.000000   353.000000

2. Data Manipulation:
    Total Revenue for each product:
    PRODUCT_NAME
ADATA ASU800SS-128GT-C      263.25
ADATA ASU800SS-512GT-C      683.45
AMD 100-5056062           13499.91
AMD 100-505989            24299.91
AMD 100-506061             8999.91
                            ...
Zotac ZT-70203-10P         7385.49
Zotac ZT-P10810A-10P       7649.91
Zotac ZT-P10810C-10P       6839.91
Zotac ZT-P10810D-10P       6839.91
Zotac ZT-P10810G-10P       6794.82
Name: LIST_PRICE, Length: 173, dtype: float64
    Product with the highest revenue: PNY VCQP6000-PB
    Average quantity sold per day: 107.47

3. Data Visualization:
    Bar char displaying revenue for each product is attached

4. Insights:
    The product PNY VCQP6000-PB generates the highest revenue
    On average, 107.47 units are sold per day.

5. Location Analysis:
    Location with the highest quantity of products in stock:
    Location: ('South San Francisco', 'California')
    Total Quantity: 28613